.title {
    margin-top: 50px;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-nav {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  .title-hossa {
    margin:0px !important;
}
.countdown-hossa {
  justify-content: center;
  align-items: center;
    color:black;
    span {
      font-size:40px;
      font-weight:900;
    }
  }
  .hossa-stream {
    background-color: #26ffcb;
    text-align:center;
  }
  
  .header-nav li {
    display: inline;
    margin-right: 10px;
    color: white;


    
    a {
        color: white;
        font-size:18px;
        text-decoration:none;
        text-transform: uppercase;
        font-weight: 600;
        padding:15px !important;
        border:1px solid white;
    }
    a:hover {
      color:black;
      background:white;
    }
  }